{% extends "base.html" %} 
{% load i18n %} 
{% block head_title %}{% trans "Signup" %}{% endblock %} 

<!-- Bootstrap elements and classes to signup page -->
 <!-- 'Code institute' signup page -->
{% block content %}
<div class="container p-3">
 <div class="row">
  <div class="col-10 card-color offset-1 p-3">
    <div class="row">
      <div class="col mt-3">
        <h3 class="mb-3">{% trans "Sign Up" %}</h3>
        <p>
          {% blocktrans %} Welcome back to Web Booking App. Do you already have an
          account? Then please
          <a class="link" href="{{ login_url }}">sign in</a> instead. 
          {% endblocktrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <form
          class="signup"
          id="signup_form"
          method="post"
          action="{% url 'account_signup' %}"
        >
          {% csrf_token %} 
          {{ form.as_p }} 
          {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <button class="btn btn-primary right" type="submit">
            {% trans "Sign Up" %} &raquo;
          </button>
        </form>
      </div>
    </div>
  </div>
 </div>
</div>

{% endblock content %}
