/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

/*Asterisc wildcard selector to override default styles in the browser */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styles */
/* Fonts here taken from Mei Wong project "Code Institute"*/

/* Body */
body {
    font-family: "Poppins", sans-serif;
    background-color:white;
}

/* Navbar */
.navbar {
    box-shadow: 0 2px 2px #3a3a3a;
}

/* Add Menue navbar margin*/
.home-margin {
    margin-top: .4rem;
}

.user-loging {
    font-size: .9rem;
}
/* Main to take all surplus space and push footer down */
main {
    flex: 1 0 auto;
}
h1,h2,
h3 {
    font-family: "DM Serif Display", serif;
}

p {
    font-size: 1.1rem;
}


.book-button {
    color: #fff;
}

.card-color {
    background-color: #ffe6a7;
}

.o-brand {
    color: red;
}

/*Footer*/
footer {
    background-color:#f4f3ee;
    box-shadow: 0 -2px 2px #3a3a3a;
}

#social-networks {
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 0;
}

#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media queries*/
/* Remove margin from bottom of login paragraph on medium screens*/
/* @media (min-width: 1200px) { */
@media screen and (min-width: 768px) {
    .user-loging {
        margin-bottom: 0;
    }
}