/*Asterisc wildcard selector to override default styles in the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F9FAFC;
}





/*Footer*/
footer {
    background-color:#dbdcde;
    box-shadow: 0 -2px 2px #3a3a3a;
}

#social-networks {

    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #3a3a3a;
}
